# Python environment
venv/

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store

# AI models
*.pt

# YOLO training results
runs/

# Backups / archives
*.tar.gz
*.zip

# Raw / experimental datasets
data/raw_images/
data/raw_new/

# Keep project test datasets in Git
