# Python environment
venv/

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store

# AI models
*.pt

# YOLO training results
runs/

# Backups / archives
*.tar.gz
*.zip

# Experimental / temporary datasets
data/raw_images/
data/raw_new/
data/unlabeled_test/
data/v3_candidates/
data/images/test/
data/images/real_world_test/
